html,
body {
	height: 100%;
	font-family: "Nunito Sans", sans-serif;
	overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	color: #111111;
	font-weight: 400;
	font-family: "Nunito Sans", sans-serif;
}

h1 {
	font-size: 70px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

p {
	font-size: 15px;
	font-family: "Nunito Sans", sans-serif;
	color: #3d3d3d;
	font-weight: 400;
	line-height: 25px;
	margin: 0 0 15px 0;
}

img {
	max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
	color: #ffffff;
}

ul,
ol {
	padding: 0;
	margin: 0;
}

/*---------------------
  Helper CSS
-----------------------*/

.section-title {
	margin-bottom: 45px;
	text-align: center;
}

.section-title span {
	color: #e53637;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-bottom: 15px;
	display: block;
}

.section-title h2 {
	color: #111111;
	font-weight: 700;
	line-height: 46px;
}

.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}

.spad {
	position: relative;
	padding-top: 100px;
	padding-bottom: 100px;
}

.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white p,
.text-white span,
.text-white li,
.text-white a {
	color: #fff;
}

/* buttons */

.primary-btn {
	display: inline-block;
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
	padding: 14px 30px;
	color: #ffffff;
	background: #000000;
	letter-spacing: 4px;
}

.site-btn {
	font-size: 14px;
	color: #ffffff;
	background: #111111;
	font-weight: 700;
	border: none;
	text-transform: uppercase;
	display: inline-block;
	padding: 14px 30px;
}

/* Preloder */

#preloder {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 9999999999999;
	background: #000;
}

.loader {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -13px;
	margin-left: -13px;
	border-radius: 60px;
	animation: loader 0.8s linear infinite;
	-webkit-animation: loader 0.8s linear infinite;
}

/* Scroll */

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	border-radius: 15px;
}

::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background: #c2c2c2;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}


@keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}

	50% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}

	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

@-webkit-keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}

	50% {
		-webkit-transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}

	100% {
		-webkit-transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

.search-model {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: #000;
	z-index: 99999;
}

.search-model-form {
	padding: 0 15px;
}

.search-model-form input {
	width: 500px;
	font-size: 40px;
	border: none;
	border-bottom: 2px solid #333;
	background: 0 0;
	color: #999;
}

.search-close-switch {
	position: absolute;
	width: 50px;
	height: 50px;
	background: #333;
	color: #fff;
	text-align: center;
	border-radius: 50%;
	font-size: 28px;
	line-height: 28px;
	top: 30px;
	cursor: pointer;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.header {
	background: #ffffff;
}

.header__top {
	background: #111111;
	padding: 10px 0;
}

.header__top__left p {
	color: #ffffff;
	margin-bottom: 0;
}

.header__top__right {
	text-align: right;
}

.header__top__links {
	display: inline-block;
	margin-right: 10px;
}

.header__top__links a {
	color: #ffffff;
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-right: 10px;
	display: inline-block;
}

.header__top__links a:last-child {
	margin-right: 0;
}

.header__top__hover {
	display: inline-block;
	position: relative;
}

.header__top__hover:hover ul {
	top: 24px;
	opacity: 1;
	visibility: visible;
}

.header__top__hover span {
	color: #ffffff;
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 2px;
	display: inline-block;
	cursor: pointer;
}

.header__top__hover span i {
	font-size: 20px;
	position: relative;
	top: 3px;
	right: 2px;
}

.header__top__hover ul {
	background: #ffffff;
	display: inline-block;
	padding: 2px 0;
	position: absolute;
	left: 0;
	top: 44px;
	opacity: 0;
	visibility: hidden;
	z-index: 3;
	-webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
	-webkit-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

.header__top__hover ul li {
	list-style: none;
	font-size: 13px;
	color: #111111;
	padding: 2px 15px;
	cursor: pointer;
}

.header__logo {
	padding: 30px 0;
}

.header__logo a {
	display: inline-block;
}

.header__menu {
	text-align: center;
	padding: 26px 0 25px;
}

.header__menu ul li {
	list-style: none;
	display: inline-block;
	margin-right: 45px;
	position: relative;
}

.header__menu ul li.active a:after {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.header__menu ul li:hover a:after {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.header__menu ul li:hover .dropdown {
	top: 32px;
	opacity: 1;
	visibility: visible;
}

.header__menu ul li:last-child {
	margin-right: 0;
}

.header__menu ul li .dropdown {
	position: absolute;
	left: 0;
	top: 56px;
	width: 150px;
	background: #111111;
	text-align: left;
	padding: 5px 0;
	z-index: 9;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

.header__menu ul li .dropdown li {
	display: block;
	margin-right: 0;
}

.header__menu ul li .dropdown li a {
	font-size: 14px;
	color: #ffffff;
	font-weight: 400;
	padding: 5px 20px;
	text-transform: capitalize;
}

.header__menu ul li .dropdown li a:after {
	display: none;
}

.header__menu ul li a {
	font-size: 18px;
	color: #111111;
	display: block;
	font-weight: 600;
	position: relative;
	padding: 3px 0;
}

.header__menu ul li a:after {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	background: #e53637;
	content: "";
	-webkit-transition: all, 0.5s;
	-o-transition: all, 0.5s;
	transition: all, 0.5s;
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
}

.header__nav__option {
	text-align: right;
	padding: 30px 0;
}

.header__nav__option a {
	display: inline-block;
	margin-right: 26px;
	position: relative;
}

.header__nav__option a span {
	color: #0d0d0d;
	font-size: 11px;
	position: absolute;
	left: 5px;
	top: 8px;
}

.header__nav__option a:last-child {
	margin-right: 0;
}

.header__nav__option .price {
	font-size: 15px;
	color: #111111;
	font-weight: 700;
	display: inline-block;
	margin-left: -20px;
	position: relative;
	top: 3px;
}

/* Menu */
.offcanvas-menu-wrapper {
	display: none;
}

.canvas__open {
	display: none;
}

.product {
	padding-top: 0;
	padding-bottom: 60px;
}

.filter__controls {
	text-align: center;
	margin-bottom: 45px;
}

.filter__controls li {
	color: #b7b7b7;
	font-size: 24px;
	font-weight: 700;
	list-style: none;
	display: inline-block;
	margin-right: 88px;
	cursor: pointer;
}

.filter__controls li:last-child {
	margin-right: 0;
}

.filter__controls li.active {
	color: #111111;
}

.product__item {
	overflow: hidden;
	margin-bottom: 40px;
}

.product__item.sale .product__item__pic .label {
	color: #ffffff;
	background: #111111;
}

.product__item.sale .product__item__text .rating i {
	color: #f7941d;
}

.product__item.sale .product__item__text .rating i:nth-last-child(1) {
	color: #b7b7b7;
}

.product__item:hover .product__item__pic .product__hover {
	right: 20px;
	opacity: 1;
}

.product__item:hover .product__item__text a {
	top: 22px;
	opacity: 1;
	visibility: visible;
}

.product__item:hover .product__item__text h6 {
	opacity: 0;
}

.product__item:hover .product__item__text .product__color__select {
	opacity: 1;
}

.product__item__pic {
	height: 260px;
	position: relative;
	background-position: center center;
}

.product__item__pic .label {
	color: #111111;
	font-size: 11px;
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
	display: inline-block;
	padding: 4px 15px 2px;
	background: #ffffff;
	position: absolute;
	left: 0;
	top: 20px;
}

.product__item__pic .product__hover {
	position: absolute;
	right: -200px;
	top: 20px;
	-webkit-transition: all, 0.8s;
	-o-transition: all, 0.8s;
	transition: all, 0.8s;
}

.product__item__pic .product__hover li {
	list-style: none;
	margin-bottom: 10px;
	position: relative;
}

.product__item__pic .product__hover li:hover span {
	opacity: 1;
	visibility: visible;
}

.product__item__pic .product__hover li span {
	color: #ffffff;
	background: #111111;
	display: inline-block;
	padding: 4px 10px;
	font-size: 12px;
	position: absolute;
	left: -78px;
	top: 5px;
	z-index: 1;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

.product__item__pic .product__hover li span:after {
	position: absolute;
	right: -2px;
	top: 5px;
	height: 15px;
	width: 15px;
	background: #111111;
	content: "";
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	z-index: -1;
}

.product__item__pic .product__hover li img {
	background: #ffffff;
	padding: 10px;
	display: inline-block;
}

.product__item__text {
	padding-top: 25px;
	position: relative;
}

.product__item__text a {
	font-size: 15px;
	color: #e53637;
	font-weight: 700;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

.product__item__text h6 {
	color: #111111;
	font-size: 15px;
	font-weight: 600;
	margin-bottom: 5px;
	-webkit-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

.product__item__text .rating {
	margin-bottom: 6px;
}

.product__item__text .rating i {
	font-size: 14px;
	color: #b7b7b7;
	margin-right: -5px;
}

.product__item__text h5 {
	color: #0d0d0d;
	font-weight: 700;
}

.product__item__text .product__color__select {
	position: absolute;
	right: 0;
	bottom: 0;
	opacity: 0;
	-webkit-transition: all, 0.5s;
	-o-transition: all, 0.5s;
	transition: all, 0.5s;
}

.product__item__text .product__color__select label {
	display: inline-block;
	height: 12px;
	width: 12px;
	background: #5e64d1;
	border-radius: 50%;
	margin-bottom: 0;
	margin-right: 5px;
	position: relative;
	cursor: pointer;
}

.product__item__text .product__color__select label.black {
	background: #404a47;
}

.product__item__text .product__color__select label.grey {
	background: #d5a667;
}

.product__item__text .product__color__select label.active:after {
	opacity: 1;
}

.product__item__text .product__color__select label:after {
	position: absolute;
	left: -3px;
	top: -3px;
	height: 18px;
	width: 18px;
	border: 1px solid #b9b9b9;
	content: "";
	border-radius: 50%;
	opacity: 0;
}

.product__item__text .product__color__select label input {
	position: absolute;
	visibility: hidden;
}

/*---------------------
  Footer
-----------------------*/

.footer {
	background: #111111;
	padding-top: 70px;
}

.footer__about {
	margin-bottom: 30px;
}

.footer__about .footer__logo {
	margin-bottom: 30px;
}

.footer__about .footer__logo a {
	display: inline-block;
}

.footer__about p {
	color: #b7b7b7;
	margin-bottom: 30px;
}

.footer__widget {
	margin-bottom: 30px;
}

.footer__widget h6 {
	color: #ffffff;
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-bottom: 20px;
}

.footer__widget ul li {
	line-height: 36px;
	list-style: none;
}

.footer__widget ul li a {
	color: #b7b7b7;
	font-size: 15px;
}

.footer__widget .footer__newslatter p {
	color: #b7b7b7;
}

.footer__widget .footer__newslatter form {
	position: relative;
}

.footer__widget .footer__newslatter form input {
	width: 100%;
	font-size: 15px;
	color: #3d3d3d;
	background: transparent;
	border: none;
	padding: 15px 0;
	border-bottom: 2px solid #ffffff;
}

.footer__widget .footer__newslatter form input::-webkit-input-placeholder {
	color: #3d3d3d;
}

.footer__widget .footer__newslatter form input::-moz-placeholder {
	color: #3d3d3d;
}

.footer__widget .footer__newslatter form input:-ms-input-placeholder {
	color: #3d3d3d;
}

.footer__widget .footer__newslatter form input::-ms-input-placeholder {
	color: #3d3d3d;
}

.footer__widget .footer__newslatter form input::placeholder {
	color: #3d3d3d;
}

.footer__widget .footer__newslatter form button {
	color: #b7b7b7;
	font-size: 16px;
	position: absolute;
	right: 5px;
	top: 0;
	height: 100%;
	background: transparent;
	border: none;
}

.footer__copyright__text {
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	padding: 20px 0;
	margin-top: 40px;
}

.footer__copyright__text p {
	color: #b7b7b7;
	margin-bottom: 0;
}

.footer__copyright__text p i {
	color: #e53637;
}

.footer__copyright__text p a {
	color: #e53637;
}


/*---------------------
  Map
-----------------------*/

.map {
	height: 400px;
}

.map iframe {
	width: 100%;
}

.slider-wrapper {
	height: 400px;
}

.slider-wrapper img {
	max-width: 100%;
	height: 100%;
	position: relative;
	object-fit: cover;
	object-position: center;
}

/* Slider */
.owl-nav {
	position: absolute;
	top: 50%;
	width: 100%;
	transform: translateY(-50%);
	display: flex;
	justify-content: space-between;
}

.owl-next,
.owl-prev {
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background-color: #d3d3d3 !important;
	transform: translateX(-50%);
}

.owl-next span,
.owl-prev span {
	color: white;
}

.owl-next {
	transform: translateX(50%);
}

.slider-desc {
	width: 70%;
	position: absolute;
	top: 10%;
	display: flex;
	flex-direction: column;
	gap: 63px;
	left: 5%;
}

/* Contact */

.contact__text .section-title {
	text-align: left;
	margin-bottom: 40px;
}

.contact__text .section-title h2 {
	font-size: 48px;
	margin-bottom: 18px;
}

.contact__text .section-title p {
	color: #707070;
	line-height: 26px;
	margin-bottom: 0;
}

.contact__text ul li {
	list-style: none;
	margin-bottom: 26px;
}

.contact__text ul li:last-child {
	margin-bottom: 0;
}

.contact__text ul li h4 {
	color: #111111;
	font-weight: 700;
	margin-bottom: 8px;
}

.contact__text ul li p {
	line-height: 27px;
	margin-bottom: 0;
}

.contact__form input {
	height: 50px;
	width: 100%;
	border: 1px solid #e1e1e1;
	padding-left: 20px;
	font-size: 15px;
	color: #b7b7b7;
	margin-bottom: 30px;
}

.contact__form input::-webkit-input-placeholder {
	color: #b7b7b7;
}

.contact__form input::-moz-placeholder {
	color: #b7b7b7;
}

.contact__form input:-ms-input-placeholder {
	color: #b7b7b7;
}

.contact__form input::-ms-input-placeholder {
	color: #b7b7b7;
}

.contact__form input::placeholder {
	color: #b7b7b7;
}

.contact__form textarea {
	height: 150px;
	width: 100%;
	border: 1px solid #e1e1e1;
	padding-left: 20px;
	padding-top: 12px;
	font-size: 15px;
	color: #b7b7b7;
	margin-bottom: 24px;
	resize: none;
}

.contact__form textarea::-webkit-input-placeholder {
	color: #b7b7b7;
}

.contact__form textarea::-moz-placeholder {
	color: #b7b7b7;
}

.contact__form textarea:-ms-input-placeholder {
	color: #b7b7b7;
}

.contact__form textarea::-ms-input-placeholder {
	color: #b7b7b7;
}

.contact__form textarea::placeholder {
	color: #b7b7b7;
}

.contact__form button {
	letter-spacing: 4px;
	padding: 14px 35px;
}

/* Icon */
.zalo-container img {
	max-width: 100%;
	height: auto;
}

.zalo-container {
	position: fixed;
	width: 40px;
	height: 40px;
	bottom: 110px;
	z-index: 9999999;
	right: 14%;
}

.zalo-container a {
	display: block;
}

.zalo-container span {
	display: flex;
	align-items: center;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #1182FC;
	position: relative;
}

.zoomIn_zalo {
	animation-name: zoomIn_zalo;
}

.animated_zalo {
	animation-duration: 1s;
	animation-fill-mode: both;
}

.animated_zalo.infinite {
	animation-iteration-count: infinite;
}

.cmoz-alo-circle {
	width: 50px;
	height: 50px;
	top: -5px;
	right: -5px;
	position: absolute;
	background-color: transparent;
	border-radius: 100%;
	border: 2px solid rgba(17, 130, 252, .8);
	border-color: #1182FC;
	opacity: .5;
}

.cmoz-alo-circle-fill {
	width: 60px;
	height: 60px;
	top: -10px;
	position: absolute;
	transition: all 0.2s ease-in-out;
	border-radius: 100%;
	border: 2px solid transparent;
	transition: all .5s;
	background-color: rgba(17, 130, 252, .45);
	opacity: .75;
	right: -10px;
}

.pulse_zalo {
	-webkit-animation-name: pulse_zalo;
	animation-name: pulse_zalo;
}

a:where(:not(.wp-element-button)) {
	text-decoration: none;
}

#hotline {
	border-radius: 22px;
	background: #fcb600;
	color: #fff;
	padding: 2px 15px 2px 10px;
	position: fixed;
	bottom: 50px;
	right: 13%;
	z-index: 10;
	box-shadow: 0 1px 6px rgb(0 0 0 / 20%);
}

#hotline a {
	text-decoration: none;
	cursor: pointer;
	background: 0 0;
	transition: all .4s ease-in-out;
	color: inherit;
	display: block;
	position: relative;
	padding: 2px 0px 2px 36px;
}

#hotline .animated {
	border-radius: 50%;
	height: 36px;
	width: 36px;
	line-height: 36px;
	position: absolute;
	top: 4px;
	left: 0px;
	font-size: 34px;
	text-align: center;
	text-shadow: 1px -2px 0px rgb(0 0 0 / 20%);
}

.single i.fa {
	font-style: normal;
	text-align: center;
}

.animated {
	animation-duration: 1s;
	animation-fill-mode: both;
}

.animated.infinite {
	animation-iteration-count: infinite;
}

.bounce {
	animation-name: bounce;
	transform-origin: center bottom;
}

#hotline span {
	font-size: 11px;
	display: block;
	letter-spacing: 3px;
	line-height: 12px;
}

#hotline strong {
	font-size: 14px;
	line-height: 24px;
	display: block;
}

.icon-fb {
	position: fixed;
	bottom: 100px;
	right: 19%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.icon-fb .fb {
	width: 58px;
	height: 58px;
	border-radius: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: transform 1s;
	cursor: pointer;

}

.icon-fb .fb i {
	font-size: 20px;
	color: #fff;
}

.icon-fb .fb:hover {
	transform: rotate(360deg)
}

.icon-fb i:hover {
	transition: transform 1s, filter 2s ease-in-out;
	transform: scale(1.5)
}

.icon-fb .fb {
	background-image: linear-gradient(#1695da, #0072b1);
}

/* keyframe */
@keyframes bounce {

	0%,
	100%,
	20%,
	53%,
	80% {
		transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
		transform: translate3d(0, 0, 0);
	}

	40%,
	43% {
		transition-timing-function: cubic-bezier(0.755, .050, .855, .060);
		transform: translate3d(0, -30px, 0);
	}

	70% {
		transition-timing-function: cubic-bezier(0.755, .050, .855, .060);
		transform: translate3d(0, -15px, 0);
	}

	90% {
		transform: translate3d(0, -4px, 0);
	}
}


@keyframes zoomIn_zalo {
	from {
		opacity: 0;
		transform: scale3d(.3, .3, .3);
	}

	50% {
		opacity: 1;
	}
}

@keyframes pulse_zalo {
	from {
		transform: scale3d(1, 1, 1);
	}

	50% {
		transform: scale3d(1.05, 1.05, 1.05);
	}

	to {
		transform: scale3d(1, 1, 1);
	}
}

@media only screen and (min-width: 1200px) {
	.container {
		max-width: 1170px;
	}

	.slider-desc {
		width: 50%;
	}
}


@media only screen and (min-width: 992px) and (max-width: 1199px) {

	.header__menu ul li {
		margin-right: 38px;
	}

	.icon-fb {
		right: 20%;
	}

	.slider-desc {
		width: 50%;
	}
}


@media only screen and (min-width: 768px) and (max-width: 991px) {
	.header__menu ul li {
		margin-right: 10px;
	}

	.header__nav__option a {
		margin-right: 10px;
	}

	.header__nav__option .price {
		margin-left: 0;
	}

	.slider-desc {
		width: 45%;
	}

	.map {
		height: 350px !important;
	}

	.icon-fb {
		right: 22%;
	}
}


@media only screen and (max-width: 767px) {
	.logo-img {
		width: 120px;
		height: 120px;
	}

	.slider-desc {
		width: 45%;
	}

	.nav {
		margin-bottom: 20px;
		margin-top: 20px;
	}

	.icon-fb {
		right: 25%;
	}

	.contact__text {
		margin-bottom: 40px;
	}

	.canvas__open {
		display: block;
		font-size: 22px;
		color: #111111;
		height: 35px;
		width: 35px;
		line-height: 35px;
		text-align: center;
		border: 1px solid #111111;
		border-radius: 2px;
		cursor: pointer;
		position: absolute;
		right: 15px;
		top: 30px;
	}

	.map {
		height: 300px !important;
	}

	.offcanvas-menu-overlay {
		position: fixed;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		background: rgba(0, 0, 0, 0.7);
		content: "";
		z-index: 98;
		-webkit-transition: all, 0.5s;
		-o-transition: all, 0.5s;
		transition: all, 0.5s;
		visibility: hidden;
	}

	.offcanvas-menu-overlay.active {
		visibility: visible;
	}

	.offcanvas-menu-wrapper {
		position: fixed;
		left: -300px;
		width: 300px;
		height: 100%;
		background: #ffffff;
		padding: 50px 20px 30px 30px;
		display: block;
		z-index: 99;
		overflow-y: auto;
		-webkit-transition: all, 0.5s;
		-o-transition: all, 0.5s;
		transition: all, 0.5s;
		opacity: 0;
	}

	.offcanvas-menu-wrapper.active {
		opacity: 1;
		left: 0;
	}

	.offcanvas__menu {
		display: none;
	}

	.offcanvas__option {
		text-align: center;
		margin-bottom: 30px;
	}

	.offcanvas__links {
		display: inline-block;
		margin-right: 25px;
	}

	.offcanvas__links a {
		color: #111111;
		font-size: 13px;
		text-transform: uppercase;
		letter-spacing: 2px;
		margin-right: 16px;
		display: inline-block;
		font-weight: 600;
	}

	.offcanvas__links a:last-child {
		margin-right: 0;
	}

	.offcanvas__top__hover {
		display: inline-block;
		position: relative;
	}

	.offcanvas__top__hover:hover ul {
		top: 24px;
		opacity: 1;
		visibility: visible;
	}

	.offcanvas__top__hover span {
		color: #111111;
		font-size: 13px;
		text-transform: uppercase;
		letter-spacing: 2px;
		display: inline-block;
		cursor: pointer;
		font-weight: 600;
	}

	.offcanvas__top__hover span i {
		font-size: 20px;
		position: relative;
		top: 3px;
		right: 2px;
	}

	.offcanvas__top__hover ul {
		background: #111111;
		display: inline-block;
		padding: 2px 0;
		position: absolute;
		left: 0;
		top: 44px;
		opacity: 0;
		visibility: hidden;
		z-index: 3;
		-webkit-transition: all, 0.3s;
		-o-transition: all, 0.3s;
		transition: all, 0.3s;
	}

	.offcanvas__top__hover ul li {
		list-style: none;
		font-size: 13px;
		color: #ffffff;
		padding: 2px 15px;
		cursor: pointer;
	}

	.offcanvas__nav__option {
		text-align: center;
		margin-bottom: 25px;
	}

	.offcanvas__nav__option a {
		display: inline-block;
		margin-right: 26px;
		position: relative;
	}

	.offcanvas__nav__option a span {
		color: #0d0d0d;
		font-size: 11px;
		position: absolute;
		left: 5px;
		top: 8px;
	}

	.offcanvas__nav__option a:last-child {
		margin-right: 0;
	}

	.offcanvas__nav__option .price {
		font-size: 15px;
		color: #111111;
		font-weight: 700;
		display: inline-block;
		margin-left: -20px;
		position: relative;
		top: 3px;
	}

	.offcanvas__text p {
		color: #111111;
		margin-bottom: 0;
	}

	.header__top {
		display: none;
	}

	.header .container {
		position: relative;
	}

	.header__menu {
		display: none;
	}

	.header__nav__option {
		display: none;
	}

	.search-model-form input {
		width: 100%;
		font-size: 24px;
	}

	.filter__controls li {
		margin-right: 15px;
	}
}


@media only screen and (max-width: 479px) {
	.map {
		height: 200px !important;
	}

	.cart__total {
		padding: 35px 30px 40px;
	}
}